  <row>
  <H1 align="center">Lista Actividades</H1>
  <row>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">Buscador</div>
    <div class="panel-body" >
      <div class="row">
        <%= form_tag activities_path,  method: :get, id: "list", class: 'form-inline' do %>
          <div class="col-md-6">
             <p>Actividades</p>
            <%= select_tag "name", options_from_collection_for_select(@activities, "id", "name", @name), include_blank: "Seleccionar Actividades", class: 'form-control' %>
          </div>
          <div class="col-md-6"><%= submit_tag 'Buscar', class: "btn btn-primary" %></div>     
        <% end %> 
       </div> 
      </div>
    </div>
<%if !@list.empty? %>
  <table class="table">
    <thead class="thead-dark">
      <tr align="center">
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
      <% @list.each do |list| %>
        <tr >
          <td><%= list.name %></td>
          <td><%= list.description %></td>
        </tr>
      <% end %>
 <%else%>
   <div class="container" >
    <H3>No existén registros con esa información</H3>
   </div>
<% end %>

  </table>
  <div align="center">
  <%= will_paginate @list, renderer: BootstrapPagination::Rails %> 
</div>
